header h1{
    text-shadow: 1px 1px black;
    background-image: url(imgs/banner.jpeg);
    color: white;
}
header nav{
    background-color: dodgerblue;
}
footer h1{
    background-color: dodgerblue;
    color: white;
}
